body {
    font-family: "Helvetica", "Arial", sans-serif;
}

h2 {
    margin: 0.6em 0;
}

li {
    margin: 0.2em 0;
}

.cv {
    width: 600px;
    margin: 0 auto;    
}

.contacts {
    line-height: 1.2em;
}